/* -------------------------------------------------- 
	:: Scss Config Vars
---------------------------------------------------*/

	// colors
	$color-red: #d52b1e;
	$color-yellow: #febe10;
	$color-pink: #fe968f;
	$color-blue: #66cad9;
	$color-blue-dark: #2c3138;
	$color-green: #7c9e21;

	$color-white: #fff;
	$color-black: #000;
	$color-grey: #bcbcbc;
	$color-grey-light: #e9eaeb;
	$color-grey-dark: #646464;


	// shorter fallback vars
	$color-background: #fff;
	$color-error: #c20c0e;
	$color-success: #c20c0e;
	$color-default: #000;
	$color-border: #ddd;
	$color-nav-hover: #63140e;
	$color-tap-highlight: $color-red;

	// typography
	$font-color: #fff;
	$font-color-headline: #fff;

    @mixin font-family-standard {
		font-family: 'pleasantly_plumpnormal', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	@mixin font-family-headline {
		font-family: 'pleasantly_plumpnormal', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, "Lucida Grande", sans-serif;
	}


    // links
	$link-color: #f60;
	$link-color-hover: #d52b1e;
	$link-color-active: #f00;
	$link-color-focus: #f00;


    /**
     * backgrounds and colors
     */

	$background-color: #000;
    $background-body: #000;

	$content-main-max-width: 1440px;

    /**
     * media query breakpoints
     */
	$breakpoint-max: 1630px;
    $breakpoint-desktop: 1440px;
	$breakpoint-desktop-medium: 1350px;
    $breakpoint-desktop-small: 1280px;
	$breakpoint-notebook: 1200px;
	$breakpoint-notebook-medium: 1140px;
	$breakpoint-notebook-small: 1080px;
	$breakpoint-landscape: 1024px;
	$breakpoint-landscape-medium: 960px;
	$breakpoint-landscape-small: 900px;
	$breakpoint-portrait: 767px;
	$breakpoint-mobile: 650px;
