/* -------------------------------------------------- 
   :: Css animation helpers
---------------------------------------------------*/
   
   .animate-all {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
   }
.tet {}
   .animate-no-duration {
      -webkit-transition-duration: 0;
      -moz-transition-duration: 0;
      -o-transition-duration: 0;
      -ms-transition-duration: 0;
      transition-duration: 0;
   }