/* -------------------------------------------------- 
	:: Buttons
---------------------------------------------------*/

	button {
		-webkit-appearance: none;
		border: none;
		background: transparent;
	}
	/*button, */.button {

		position: relative;
		display: inline-block;
		margin: 0 0 1.25rem;
		padding: 1rem 2rem 1.0625rem;

		font-family: inherit;
		@include font-size(12);
		font-weight: normal;
		line-height: normal;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: #fff;

		cursor: pointer;
		background-color: #008cba;
		border-color: #0079a1;
		border: none;

		-webkit-appearance: none;

		@include transition(background-color 300ms ease-out);

	}

	/*button:hover, button:focus,*/ .button:hover, .button:focus {
		background-color: #e810f0;
		color: #fff;
	}

	// button secondary
	button.secondary, .button.secondary {
		background-color: #e7e7e7;
		border-color: #dadada;
		color: #333;
	}
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
		background-color: #e810f0;
		color: #fff;
	}

	// button success
	button.success, .button.success {
		background-color: #43ac6a;
		border-color: #3c9a5f;
		color: #fff;
	}
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
		background-color: #3c9a5f;
		color: #fff;
	}

	// button alert
	button.alert, .button.alert {
		background-color: #f04124;
		border-color: #ea2f10;
		color: #fff;
	}
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
		background-color: #ea2f10;
		color: #fff;
	}

	// button sizes
	button.full-width, .button.full-width {
		padding-top: 1.525rem;
		padding-bottom: 1.5875rem;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
		width: 100%;

	/*     @else                            { font-size: $padding - rem-calc(2); } */ }
	button.xlarge, .button.xlarge {
		padding-top: 1.525rem;
		padding-right: 2.25rem;
		padding-bottom: 1.5875rem;
		padding-left: 2.25rem;
		font-size: 2.25rem;

	/*     @else                            { font-size: $padding - rem-calc(2); } */ }
	button.large, .button.large {
		padding-top: 1.125rem;
		padding-right: 2.25rem;
		padding-bottom: 1.1875rem;
		padding-left: 2.25rem;
		font-size: 1.25rem;

	/*     @else                            { font-size: $padding - rem-calc(2); } */ }
	button.small, .button.small {
		padding-top: 0.875rem;
		padding-right: 1.75rem;
		padding-bottom: 0.9375rem;
		padding-left: 1.75rem;
		font-size: 0.8125rem;

    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
	button.tiny, .button.tiny {
		padding-top: 0.625rem;
		padding-right: 1.25rem;
		padding-bottom: 0.6875rem;
		padding-left: 1.25rem;
		font-size: 0.6875rem;

    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
	button.expand, .button.expand {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}

	// button text align
	button.left-align, .button.left-align {
		text-align: left;
		text-indent: 0.75rem;
	}
	button.right-align, .button.right-align {
		text-align: right;
		padding-right: 0.75rem;
	}

	// button borders
	button.radius, .button.radius {
		@include border-radius(3px);
	}
	button.round, .button.round {
		@include border-radius(1000px);
	}

	// disabled buttons
	button.disabled, button[disabled], .button.disabled, .button[disabled] {
		background-color: #008cba;
		border-color: #0079a1;
		color: #fff;
		cursor: default;
		opacity: 0.7;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
		background-color: #0079a1;
		color: #fff;
	}

    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
		background-color: #e7e7e7;
		border-color: #dadada;
		color: #333;
		cursor: default;
		opacity: 0.7;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #dadada;
		color: #333;
	}

    button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
		background-color: #43ac6a;
		border-color: #3c9a5f;
		color: white;
		cursor: default;
		opacity: 0.7;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #3c9a5f;
		color: #fff;
	}

    button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
		background-color: #f04124;
		border-color: #ea2f10;
		color: #fff;
		cursor: default;
		opacity: 0.7;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
    button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #ea2f10;
		color: #fff;
	}

	@media only screen and (min-width: 40.063em) {
		button, .button {
			@include inline-block;
		}
	}


	// button group
	.button-group {
		list-style: none;
		margin: 0;
		*zoom: 1;
	}
	.button-group:before, .button-group:after {
		content: " ";
		display: table;
	}
	.button-group:after {
		clear: both;
	}
	.button-group > * {
		margin: 0;
		float: left;
	}
    .button-group > * > button, .button-group > * .button {
		border-right: 1px solid;
		border-color: rgba(255, 255, 255, 0.5);
	}
    .button-group > *:first-child {
		margin-left: 0;
	}
	.button-group.radius > * > button, .button-group.radius > * .button {
		border-right: 1px solid;
		border-color: rgba(255, 255, 255, 0.5);
	}
	.button-group.radius > *:first-child, .button-group.radius > *:first-child > a, .button-group.radius > *:first-child > button, .button-group.radius > *:first-child > .button {
		@include border-bottom-left-radius(3px);
		@include border-top-left-radius(3px);
	}
	.button-group.radius > *:last-child, .button-group.radius > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius > *:last-child > .button {
		@include border-top-right-radius(3px);
		@include border-bottom-right-radius(3px);
	}
	.button-group.round > * > button, .button-group.round > * .button {
		border-right: 1px solid;
		border-color: rgba(255, 255, 255, 0.5);
	}
	.button-group.round > *:first-child, .button-group.round > *:first-child > a, .button-group.round > *:first-child > button, .button-group.round > *:first-child > .button {
		@include border-bottom-left-radius(1000px);
		@include border-top-left-radius(1000px);
	}
	.button-group.round > *:last-child, .button-group.round > *:last-child > a, .button-group.round > *:last-child > button, .button-group.round > *:last-child > .button {
		@include border-top-right-radius(1000px);
		@include border-bottom-right-radius(1000px);
	}

	// button group grid
	.button-group.even-2 li {
		width: 50%;
	}
	.button-group.even-3 li {
		width: 33.33333%;
	}
	.button-group.even-4 li {
		width: 25%;
	}
	.button-group.even-5 li {
		width: 20%;
	}
	.button-group.even-6 li {
		width: 16.66667%;
	}
	.button-group.even-7 li {
		width: 14.28571%;
	}
	.button-group.even-8 li {
		width: 12.5%;
	}

	.button-group.even-2 li > button, .button-group.even-2 li .button,
	.button-group.even-3 li > button, .button-group.even-3 li .button,
	.button-group.even-4 li > button, .button-group.even-4 li .button,
	.button-group.even-5 li > button, .button-group.even-5 li .button,
	.button-group.even-6 li > button, .button-group.even-6 li .button,
	.button-group.even-7 li > button, .button-group.even-7 li .button,
	.button-group.even-8 li > button, .button-group.even-8 li .button {
		border-right: 1px solid;
		border-color: rgba(255, 255, 255, 0.5);
	}

	.button-group.even-2 li button, .button-group.even-2 li .button,
	.button-group.even-3 li button, .button-group.even-3 li .button,
	.button-group.even-4 li button, .button-group.even-4 li .button,
	.button-group.even-5 li button, .button-group.even-5 li .button,
	.button-group.even-6 li button, .button-group.even-6 li .button,
	.button-group.even-7 li button, .button-group.even-7 li .button,
	.button-group.even-8 li button, .button-group.even-8 li .button {
		width: 100%;
	}

	// button bar
	.button-bar {
		*zoom: 1;
	}
	.button-bar:before, .button-bar:after {
		content: " ";
		display: table;
	}
	.button-bar:after {
		clear: both;
	}
	.button-bar .button-group {
		float: left;
		margin-right: 0.625rem;
	}
    .button-bar .button-group div {
		overflow: hidden;
	}

   