/* -------------------------------------------------- 
	:: Icons
---------------------------------------------------*/

	/* icon defaults */
	.icon {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: top;
		width: 10px;
		height: 10px;
		margin: 0;
		padding: 0;
		background: url('../assets/img/bg/sprite.png') no-repeat 0 0 transparent;
	}

	/* retina icons */
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		.icon {
			background-image: url('../assets/img/bg/sprite@2x.png');
			background-size: 250px 250px;
		}	
	}

	.icon {
		&.icon-list, &.icon-arrow-right, &.icon-arrow-left {
			width: 10px;
			height: 7px;
		}
		&.icon-list, &.icon-arrow-right {
			background-position: 0 0;
		}
		&.icon-arrow-left {
			background-position: -15px 0;
		}
		&.icon-arrow-top {
			background-position: -30px 0;
		}
		&.icon-arrow-down {
			background-position: -45px 0;
		}

		&.icon-plus, &.icon-minus {
			width: 10px;
			height: 10px;
		}
		&.icon-plus {
			background-position: -60px 0;
			&.icon-color-white {
				background-position: -90px 0;
			}
		}
		&.icon-minus {
			background-position: -75px 0;
			&.icon-color-white {
				background-position: -105px 0;
			}
		}

		&.icon-logo {
			width: 120px;
			height: 30px;
			background-position: 0 -15px;
		}
		
		&.icon-navmobile {
			width: 30px;
			height: 30px;
			background-position: 0 -50px;
			.active & {
				background-position: -45px -50px;
			}
		}
	}
